<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="QMDP" value="50"/>
    <add key="CloudDataBase" value="mongodb+srv://solutionlab:solution%402024@labsolutions.p94r7be.mongodb.net/"/>
    <add key="LocalDataBase" value="mongodb://localhost:27017/"/>
  </appSettings>
</configuration>
